
/* DARK */
// backgrounds
$dark-primary-800: #00011D;
$dark-primary-600: #14183D;
$dark-primary-500: #1E2356;
$dark-primary-400: #0D0F27;
$dark-primary-200: #5B8CFF;
$dark-secondary-500: #EFF0FB;
$dark-secondary-100: #EFF0FB;
// lines
$dark-primary-000: #FFFFFF;
$dark-primary-300: #F8FBFF;
// texts
// actions
$dark-alert-800: #B50329;


/* LIGHT */
// ...

//actions
$light-alert-800: #e6b6c1;

