@font-face {
  font-family: 'Prompt Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Prompt Regular'), url('./fonts/Prompt-Regular.ttf');
}

@font-face {
  font-family: 'DM Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('DM Sans Regular'), url('./fonts/DMSans-Regular.ttf');
}

@font-face {
  font-family: 'DM Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: local('DM Sans Medium'), url('./fonts/DMSans-Medium.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
}
